<?xml version="1.0" encoding="UTF-8"?>
<plugin>
   <extension point="com.change_vision.astah.ui.actionSets">
      <actionSet
            label="%action_set_label_svn"
            visible="true"
            id="com.change_vision.astah.extension.plugin.svn_prototype.svn_prototype.actionSet">
         <menu
               id="svn_prototype_1"
               label="%menu_group_svn"
               path="tool/svn_prototype">
         </menu>
         <action
			   label="%menu_label_svn_config"
               icon="icons/sample.gif"
               class="com.change_vision.astah.extension.plugin.svn_prototype.action.SVNConfigurationAction"
               tooltip="%menu_tooltip_svn"
               menubarPath="tool/svn_prototype_1/"
               id="svn_prototype_1">
         </action>
         <action
			   label="%menu_label_svn_diff_base"
               icon="icons/sample.gif"
               class="com.change_vision.astah.extension.plugin.svn_prototype.action.BaseDiffAction"
               tooltip="%menu_tooltip_svn"
               menubarPath="tool/svn_prototype_1/"
               id="svn_prototype_1">
         </action>
         <action
			   label="%menu_label_svn_diff_latest"
               icon="icons/sample.gif"
               class="com.change_vision.astah.extension.plugin.svn_prototype.action.LatestDiffAction"
               tooltip="%menu_tooltip_svn"
               menubarPath="tool/svn_prototype_1/"
               id="svn_prototype_1">
         </action>
         <action
			   label="%menu_label_svn_commit"
               icon="icons/sample.gif"
               class="com.change_vision.astah.extension.plugin.svn_prototype.action.CommitAction"
               tooltip="%menu_tooltip_svn"
               menubarPath="tool/svn_prototype_1/"
               id="svn_prototype_1">
         </action>
         <action
			   label="%menu_label_svn_update"
               icon="icons/sample.gif"
               class="com.change_vision.astah.extension.plugin.svn_prototype.action.UpdateAction"
               tooltip="%menu_tooltip_svn"
               menubarPath="tool/svn_prototype_1/"
               id="svn_prototype_1">
         </action>
     </actionSet>
   </extension>
</plugin>
